# *_*
# Unnecessary files and folders
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
Thumbs.db
.env
.vscode/
.idea/
node_modules/
dist/
build/
.eggs/
*.egg-info/
*.egg
.cache/
coverage/
htmlcov/
*.cover
*.py,cover
*.m4a
*.mp3
*.zip
*.tar.gz
*.tar.bz2
*.tar
*.7z
*.rar
*.gz
*.bz2
*.xz
*.ipynb_checkpoints/
assets/
data/
downloaded_audio.*
*.json
